:root {
    --main-green: #596D48;
    --main-white: white;
    --main-grey: #E5E7EB;
    --main-invalid: #f92d2d;
    --main-input-selected: #2d6ef9 ;
    --txt: black;
    --txt-light: #000000c8; 
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--txt);
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,body {
    margin: 0;
    padding: 0; 
    height: 100%;
}

body {      
    flex: 1;
    display: flex;
    flex-direction: row;
}

.main-left{    
    display: flex;
    flex-direction: column;
    width: 35vw;
    background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');    
    background-size: cover;     
    background-repeat: no-repeat;
    justify-content: space-between;
    
}

.attribution-text{
    color: var(--main-white);
    font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 0.5px;
    text-align: center;
    padding-bottom: 16px;
    font-size: 12px;
}

.logo-text{
    font-family: Norse;
    font-size: 80px;    
    color: var(--main-white);    
}

a:link, a:visited {
    color: var(--main-white);
}


.logo-section { 
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
    height: 150px;
}

.header{
    padding: 150px 40px 40px 40px; 
    max-width: 800px;
}

.header-text {    
    font-weight: bold;
}

.form-inputs-container{             
    display: flex;
    flex-direction: column;
    background-color: var(--main-white);
    width: 100%;
    box-shadow: 10px 5px 10px var(--main-grey) ;
    padding: 20px 40px 20px 40px;
    gap: 20px;

}

.main-right{
    background-color: #efefef26;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

form {
    display: flex;    
    row-gap: 20px;
    max-width: 80%;
    column-gap: 35px;
    flex-wrap: wrap;
}

.form-header{
    font-size: 24px;
    margin: 0px;
}


.form-row-item{
    display: flex;    
    flex-direction: column;
    
    min-width: 350px;
}

input{
    border-style: solid;
    border-color: var(--main-grey);
    border-radius: 3px;
    height: 25px;
}

input:invalid{
    border-color: var(--main-invalid) ;
}

input:focus{
    outline: none;
    border-color: var(--main-input-selected);
    box-shadow: 3px 3px 10px var(--main-grey);    
}

label {
    font-size: 12px;
    letter-spacing: 0.8px;
    color: var(--txt-light);
    padding-bottom: 2px;
}

button {
    width: 200px;
    height: 35px;
    padding: 5px;
    font-weight: bold;
    color: var(--main-white);
    background-color: var(--main-green);
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 10px var(--main-grey);
}

.form-submit{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
}

#login {
    color: var(--main-green);
    text-decoration: none;
    font-weight: bold;
}


/* 
ToDo
Look and see how we can improve
https://github.com/maciejmroz2002/sign-up-form
https://maciejmroz2002.github.io/sign-up-form/
*/