@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
    height: 100%;
}

body {      
    display: flex;
    flex-direction: row;
}

.main-left{
    display: flex;
    flex-direction: column;
    width: 35vw;
    background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    
}

.attribution-text{
    color: white;
    font-family: "Helvetica Neue";
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
}

.logo-text{
    font-family: Norse;
    font-size: 80px;    
    color: white;    
}

a:link, a:visited {
    color: white;
}

/* ? .banner {
    max-width: 300px;
} */


.logo-section { 
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
    height: 150px;
}

.header{
    padding: 150px 40px 40px 40px; 
    max-width: 500px;
}

.header-text {    
    font-weight: bold;
}

.form-inputs-container{
    display: flex;
    flex-direction: row;
    height: 100px;        
    background-color: white;
    width: 100%;
    box-shadow: 20px 20px #E5E7EB ;
    padding: 20px 40px 20px 40px;
}

.main-right{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.form-input-col{
    display: flex;
    flex-direction: column;


}

.form-header{
    font-size: 24px;
    margin: 0px;
}