@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
    height: 100%;
}

body {      
    display: flex;
    flex-direction: row;
}

.main-left{
    display: flex;
    flex-direction: column;
    width: 35vw;
    background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    
}

.attribution-text{
    color: white;
}

.logo-text{
    font-family: Norse;
    font-size: 80px;
    color: white;
    
}

/* ? .banner {
    max-width: 300px;
} */

.logo-img{
    
    
}

.logo-section { 
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
    height: 150px;
}