@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
    height: 100%;
}

body {      
    display: flex;
    flex-direction: row;
}

.main-left{
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');    
    background-size: contain;
    background-repeat: no-repeat;
}

.attribution-text{
    color: white;
}
/* ? .banner {
    max-width: 300px;
} */

.logo-section { 
    display: flex;
    flex-direction: row;
}