@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 100px;
    font-family: Norse;
    height: 100%;
}

.main-left{
    width: 50%;
    background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');
    height: 100%;
}

.banner {
    max-width: 500px;
}

.logo-section { 

    display: flex;
    flex-direction: row;
}